.heading1{
           padding-left: 40px;
}
.heading2{
           padding-left: 40px; 
           color: tomato;
}
#about{
       padding: 40px; 
       padding-top: 20px; 
             
}
body{
       display: flex;
}
.flexible-container{
       display: flex;
       margin-bottom: 100px;
}
.half-width{
       padding-left: 40px;
}